.privacy {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.btn {
    margin: 20px;
}