.comments {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 0px auto;
    padding: 20px;
}

.commentHistory {
    width: 75%;
    margin: 0 auto;
}

textarea {
    max-width: 75%;
    height: 200px;
    margin: 0 auto;
}

h4 {
    margin: 10px auto;
}

.buttonSection {
    display: flex;
    justify-content: center;
    align-items: center;
}